<section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="title pb-3 mb-5">Expericence</h1>
    <div class="border-start border-2 border-light pt-2 ps-5">
        @for(exp of experience; track exp) {
            <div class="position-relative mb-4">
                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                <h5 class="mb-1">{{exp.designation}}</h5>
                <p class="mb-2">{{exp.company}} | <small>{{exp.start}} - {{exp.end}}</small></p>
                <p>{{exp.description}}</p>
            </div>
        }
    </div>
</section>